/* GENERALS */
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
h1, h2, h4{
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 2em;
    text-transform: uppercase;
}
a, a:hover, a:focus{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
table{
    background-color: transparent;
}
td{
    color: #c5cad2;
}
td, th{
    padding: 0;
}
th{
    width: 130px;
    font-weight: normal;
    letter-spacing: 1px;
}
i{
    font-size: 46px;
    color: #fff;
}
.title-area{
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 2em;
    text-transform: uppercase;
}
.title-area h2{
    margin:  50px 0;
}
.w-60{
    width: 60%;
}
.w-50{
    width: 50%;
}
.w-40{
    width: 40%;
}

/* NAVBAR */
header{
    background-color: #1c1d22;
}
.navbar a{
    color: #fff;
    font-family: 'Mr Dafoe', cursive;
    font-size: 30px;
    font-weight: 600;
}
.brand, .brand:hover{
    color: #fff;
    font-family: 'Mr Dafoe', cursive;
    font-size: 30px;
    font-weight: 600;
}
.black{
    
    background-color: #32343c;
    
}
.navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    }
  .sidenav a {
    font-size: 18px;
    }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#openbtn {
  padding: 16px;
  cursor: pointer;
}
#openbtn .togglebtn {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

/* ABOUT ME */
#about-me{
    background-color: #1c1d22;
    padding-top: 50px;
}
.default-header{
    width: 100%;
    height: auto;
    margin: 5% 0;
    display: inline-block;
}
#typer{
    font-size: 25px;
    margin: 10px 0;
}
.default-header .header-left{
    background-color: #2e3037;
    padding: 30px 35px 40px 55px;
    position: absolute;
}
.default-header .header-right{
    background-color: #292b31;
    padding: 35px;
    float: right;
}
.adress-info td{
    padding: 10px 0px;
    letter-spacing: 0.7px;
}
.social-network{
    padding-top: 15px;
    overflow: hidden;
}
.social-icon-list li{
    float: left;
    margin-right: 20px;
}
.download-resume{
    margin-top: 38px;
}
.download-resume a{
    text-transform: uppercase;
    color: #333;
    font-weight: normal;
    letter-spacing: 3px;
    border: 1px solid transparent;
    background-color: #fff;
    padding: 15px 25px;
}
.download-resume a:hover{
    background: #fff;
    border: 1px solid transparent;
    color: #333;
}

/* SKILL */
#skill{
    background-color: #292b31;
    padding: 3% 0;
}
.progressbar{
    margin-bottom: 30px;
}
#skill .progress{
    height: 2px;
    background-color: #717171;
}
.progress-bar p{
    color: #c5cad2;
}
.progress .progress-bar{
    background-color: #cccccc;
}

/* EDUCATION */
#education{
    background-color: #2e3037;
    padding: 3% 0;
}
.education-card{
    margin: 25px 0;
    position: relative;
}
.education-img img{
    webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%); /* Firefox */
}
.education-content{
    background: #2e3037 none repeat scroll 0 0;
    left: 30px;
    margin-top: -70px;
    position: relative;
    width: calc(100% - 60px);
    transition: .3s;
    padding: 40px 25px 20px 25px;
    margin-bottom: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.education-content h3{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    font-weight: 600;
}
.education-date{
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Dosis', sans-serif;
}

/* WORK EXP */
#work-exp{
    background-color: #292b31;
    padding: 3% 0;
}
@media (max-width: 575.98px) {
    .carre{
        height: 30px;
        width: 30px;
        background: #31333b;
        -ms-transform: rotate(45deg); /* Internet Explorer */
        -moz-transform: rotate(45deg); /* Firefox */
        -webkit-transform: rotate(45deg); /* Safari et Chrome */
        -o-transform: rotate(45deg); /* Opera */
        position: absolute;
        top: 438px;
        left: 240px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .carre{
        height: 30px;
        width: 30px;
        background: #31333b;
        -ms-transform: rotate(45deg); /* Internet Explorer */
        -moz-transform: rotate(45deg); /* Firefox */
        -webkit-transform: rotate(45deg); /* Safari et Chrome */
        -o-transform: rotate(45deg); /* Opera */
        position: absolute;
        top: 413px;
        left: 246px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .carre{
        height: 30px;
        width: 30px;
        background: #31333b;
        -ms-transform: rotate(45deg); /* Internet Explorer */
        -moz-transform: rotate(45deg); /* Firefox */
        -webkit-transform: rotate(45deg); /* Safari et Chrome */
        -o-transform: rotate(45deg); /* Opera */
        position: absolute;
        top: 366px;
        left: 336px;
    }
}
.exp-card{
    background-color: #31333b;
    padding: 30px;
}
.exp-content{
    background-color: #292b31;
    padding: 40px;
}
.exp-content h4{
    font-size: 21px;
}
.exp-content .company-name{
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: uppercase;
}
.exp-content p{
    text-align: justify;
}
.exp-date{
    padding: 40px 0;
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
}

/* PORTFOLIO */
#portfolio{
    background-color: #2e3037;
    padding: 3% 0;
}
.item-thumbnail{
    margin: 20px 0;
}
.item-img img{
    width: 300px;
    height: 250px;
}
@media (max-width: 575.98px) {
    .item-description{
        position: absolute;
        top: 22px;
        left: 13px;
        background-color: rgba(45, 47, 53, 0.75);
        text-align: center;
        padding: 86px 112px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .item-description{
        position: absolute;
        top: 23px;
        left: 123px;
        background-color: rgba(45, 47, 53, 0.75);
        text-align: center;
        padding: 86px 112px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .item-description{
        position: absolute;
        top: 22px;
        left: 34px;
        background-color: rgba(45, 47, 53, 0.75);
        text-align: center;
        padding: 86px 112px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .item-description{
        position: absolute;
        top: 22px;
        left: 14px;
        background-color: rgba(45, 47, 53, 0.75);
        text-align: center;
        padding: 86px 112px;
    }
}
@media (min-width: 1200px) {
    .item-description{
        position: absolute;
        top: 22px;
        left: 43px;
        background-color: rgba(45, 47, 53, 0.75);
        text-align: center;
        padding: 86px 112px;
    }
}
.item-description i{
    border: 1px solid #ffffff;
    padding: 10px;
    font-size: 12px;
}

/* FOOTER */
.footer{
    height: 160px;
    padding: 40px 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #2e3037 51%, #292b31 41%) repeat scroll 0 0;
}
.footer-left p{
    color: #fff;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
}
.footer-left p i{
    font-size: 12px;
}
.footer-right a{
    padding: 15px 20px;
    border: 1px solid transparent;
    background-color: #fff;
}
.footer-right a i{
    font-size: 18px;
    color: #333;
}